body { padding: 4em 0 0 0; }

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: underline; }

.index_list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.index_element {
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    font-size: 1.5em;
}

.no_underline {
    text-decoration: none
}

.menu_bar {
    text-align: center;
    height: 3em;
}

.unused_menu_button {
    color: gray;
    font-size: 2em;
    text-decoration: none !important;
}

.menu_button {
    color: black;
    font-size: 2em;
    text-decoration: none !important;
}

.page_title {
    text-align: center;
}

.page_title_with_subtitle {
    text-align: center;
    margin-bottom: 0;
}

.page_subtitle {
    text-align: center;
    font-variant: small-caps;
    margin-top: 0;
    margin-bottom: 1em;
}

.notes_list {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 1em;
}

.notes_title {
    margin-top: 0;
    margin-bottom: -0.4em;
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
}

.notes_subtitle {
    margin-top: 0em;
    margin-bottom: 1em;
    font-variant: small-caps;
    text-align: center;
}

.projects_title {
    margin-top: 0;
    margin-bottom: -0.4em;
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
}

.projects_subtitle {
    margin-top: 0em;
    margin-bottom: 1em;
    font-variant: small-caps;
    text-align: center;
}

.toc_chapter {
    margin-top: 0;
    margin-bottom: 0;
    font-family: Arial;
    font-weight: bold;
}

.toc_section {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: -4em;
    font-family: Arial;
    font-size: 0.7em;
}

.toc_section_list {}








.navbar-default {
  background-color: #563d7c;
  border-color: #3e2c5a;
}
.navbar-default .navbar-brand {
  color: #ecf0f1;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #b6bcbd;
}
.navbar-default .navbar-text {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #b6bcbd;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #b6bcbd;
  background-color: #3e2c5a;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #b6bcbd;
  background-color: #3e2c5a;
}
.navbar-default .navbar-toggle {
  border-color: #3e2c5a;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #3e2c5a;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ecf0f1;
}
.navbar-default .navbar-link {
  color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
  color: #b6bcbd;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #b6bcbd;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #b6bcbd;
    background-color: #3e2c5a;
  }
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
 }